<div class="hero-header">
  <div class="main-text">PairBnB</div>
  <div class="sub-text">A place to pair boys and babes</div>
</div>
<div class="div-one">
  <div class="para-one">
    <h1>About Us</h1>
    We are a website to pair boys with babes to hangout for a day</div>
  <div class="para-two">
    <h1>Why use us</h1>
    If you are a boy: Because we help you to pair with the best babe out there

    If your are a babe: Because we help you to pair with the best boy out there.
  </div>
</div>